
	<h1 style="color: #f19f4d"><%= @question.title %></h1>

		<p style="color: #f19f4d">
			<%= @question.content %>
		</p>

	<ul id="question-comments">
		<% @question.comments.each do |comment| %>

				<%= erb :'shared/_votes_comment', locals: {comment: comment}, layout: false %>

		<% end %>
		<br>
		<% if @question_errors %>
			<% @question_errors.each do |error| %>
				<%= error %>
			<% end %>
		<% end %>
	</ul>
		<form action='/questions/<%= @question.id %>/comments/new'method="post" id="question-comment-form">
			<label for="comment">Make a comment: </label>
			<input type="text" name="content">
			<input type="submit" value="Comment"><br>
		</form>

<hr>
<h2>Answers:</h2>

			<% @question.answers.each do |answer| %>

			<div>
		<ul class="answer-comments">


        <div class="answers">
				<li style="color: black">
					<form method="post" action='/votes/new' class="thumbs_button">
	        	<input type="hidden" name="answer_id" value="<%= answer.id %>">
	        	<button type="submit" name="value" value="up_vote" class="thumbs_button">&#128077</button>
	      	</form>

	      	<span class="vote_count"><%= Vote.vote_count(answer.votes) %></span>

		      <form method="post" action='/votes/new' class="thumbs_button">
		        <input type="hidden" name="answer_id" value="<%= answer.id %>">
		        <button type="submit" name="value" value="down_vote" class="thumbs_button">&#128078</button>
		      </form>

				<%= answer.content %>
				</li>
			</div>

				<% if answer.id == @question.best_answer_id %>
					<div>Marked as best answer</div>
				<% end %>
				<%= erb :'shared/_best_answer', locals: {item: @question, answer: answer}, layout: false %>

				<p>Comments:</p>

					<ul>
						<% answer.comments.each do |comment| %>

						<%= erb :'shared/_answers_comment', locals: {comment: comment}, layout: false %>
						<% end %>
					</ul><br>
		</ul>
		<% if @answer_comment_errors && @bad_answer_id == answer.id %>
				<% @answer_comment_errors.each do |error| %>
				<%= error %>
			<% end %>
		<% end %>
		<form action='/questions/<%= @question.id %>/answer/<%= answer.id %>/new' method="post" class="answer-comment-form">
			<label for="comment">Make a comment: </label>
			<input type="text" name="content">
			<input type="submit" value="Comment"><br>
		</form><br>
	</div>
			<% end %>

		<% if @answer_errors %>
			<% @answer_errors.each do |error| %>
				<%= error %>
			<% end %>
		<% end %>

		<form action='/questions/<%= @question.id %>/answers/new' method="post">
			<label for="comment">Have another answer to this question? Post below. </label><br><br>
			<textarea rows="10" cols="50" name="content"></textarea><br>
			<input type="submit" value="Comment"><br>
		</form>

