<div class="container">
	<h1><%= @question.title %></h1>

		<p style="color:red;">
			<%= @question.content %>
		</p>

	<ul id="#question-comments">
		<% @question.comments.each do |comment| %>
			<li style="color:green;"><%= comment.content %></li>
		<% end %>
	</ul>

<hr>
<h2>Answers:</h2>

		<ul>
			<% @question.answers.each do |answer| %>
				<li style="color:blue;"><%= answer.content %></li>
				<p>Comments:</p>

					<ul>
						<% answer.comments.each do |comment| %>
							<li style="color:green;"><%= comment.content %></li>
						<% end %>
					</ul>
			<% end %>
		</ul>



</div>