<div class="container">
	<h1><%= @question.title %></h1>

		<p>
			<%= @question.content %>
		</p>

	<ul id="#question-comments">
		<% @question.comments.each do |comment| %>
			<li><%= comment.content %> - votes: (<%= comment.votes.reduce(0) {|total, vote| total + vote.value } %>)</li>
		<% end %>
	</ul>

<hr>
<h2>Answers:</h2>

		<ul>
			<% @question.answers.each do |answer| %>
				<li><%= answer.content %></li>
				<p>Comments:</p>

					<ul>
						<% answer.comments.each do |comment| %>
							<li><%= comment.content %> - votes: (<%= comment.votes.reduce(0) {|total, vote| total + vote.value } %>)</li>
						<% end %>
					</ul>
			<% end %>
		</ul>



</div>


<!-- Reminder, turn vote count into method in model -->