<% if current_user.id == @user.id %>

  <h2>Your Questions (<%= @user.questions.count %>):</h2>

  <%= erb :'shared/_questions_list', locals: {questions: @user.questions}, layout: false %>


  <h2>Questions You've Answered (<%= @user.answers.count %>):</h2>
  <div class= "user_answers">
    <ul class="questions_answered">
      <p><% @user.answers.each do |answer| %></p>
        <li><a href="/questions/<%= answer.question.id %>"><%= answer.question.title %></a></li>
        <p>You answered:</p>
        <p><%= answer.content %></p>
      <% end %>
      </ul>
  </div>

  <h2>Comments You've Made (<%= @user.comments.count %>):</h2>
  <div class= "user_comments">
    <ul class="comments">
      <p><% @user.comments.each do |comment| %></p>

          <li><a href="/questions/<%= Question.find_by(id: comment.commentable_id).id %>"><%= Question.find_by(id: comment.commentable_id).title %></a></li>

          <p>You commented:</p>
          <p><%= comment.content %></p>

      <% end %>
      </ul>
  </div>

  <h2>Votes Casted</h2>
  <div class = "user_votes">
    <%= @user.votes.count %>
  </div>

<% else %>
  <p>Oops... something went wrong.</p>
<% end %>
