
<% if current_user.id == @user.id %>

  <h2>Your Questions (<%= @user.questions.count %>):</h2>

  <%= erb :'shared/_questions_list', locals: {questions: @user.questions}, layout: false %>

<% if !@user.answers.empty? %>
  <h2>Questions You've Answered (<%= @user.answers.count %>):</h2>
  <div class= "user_answers">

    <ul class="questions_answered">
      <p>
      </p>
        <% @user.answers.each do |answer| %>
          <li><a href="/questions/<%= answer.question.id %>"><%= answer.question.title %></a></li>
          <p>You answered:</p>
          <p><%= answer.content %></p>
      <%= erb :'shared/_delete_button', locals: {item: answer}, layout: false %>
        <% end %>
      </ul>
  </div>
<% else %>

  <p>User has no answers!</p>

<% end  %>
<% if !@user.comments.empty?  %>
  <h2>Comments You've Made (<%= @user.comments.count %>):</h2>
  <div class= "user_comments">
    <ul class="comments">
      <p><% @user.comments.each do |comment| %></p>

      <% if comment.commentable_type == "Question" %>
          <li><a href="/questions/<%= Question.find_by(id: comment.commentable_id).id %>"><%= Question.find_by(id: comment.commentable_id).title %></a></li>
      <% else %>
          <li><a href="/questions/<%= Answer.find_by(id: comment.commentable_id).question_id %>"><%= Question.find(Answer.find_by(id: comment.commentable_id).question_id).title %></a></li>
      <% end %>

          <p>You commented:</p>
          <p><%= comment.content %></p>
          <%= erb :'shared/_delete_button', locals: {item: comment}, layout: false %>

      <% end %>
      </ul>
      <% else %>
  <p>User has no comments!</p>
    <% end %>
  </div>

  <h2>Votes Casted:</h2>
  <div class = "user_votes">
    <%= @user.votes.count %>
  </div>

<% else %>
  <p>Oops... You're trying to see something you can't.</p>
  <div class="empty"></div>
<% end %>
